.App {
  background-color: #c6c6c7;
  padding-bottom: 21%;
  }

.list-group {
  margin: 2% 15%;
}

.form-group {
  margin: 2% 2%;
}

.control-group {
  margin: 2% 2%;
}

#add-edit {
  margin: 2% 2%;
  padding: 2% 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
  
#login {
  text-align: center;
  margin: 2% 40%;
  padding: 2% 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#signUp {
  text-align: center;
  margin: 2% 40%;
  padding: 2% 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#home {
  margin-bottom: 10px;
  border-radius: 5px;
}

h1, h2 {
  text-align: center;
}

#box {
  margin: 2% 15%;
  padding: 2% 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#boxComments {
  margin: 2% 10%;
  padding: 2% 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#about {
  margin: 0% 15%;
  padding: 2% 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#viewsNumber {
  text-align: right;
}

#likesAndComments {
  margin: 0, 0, 10px;
  float: left;
  text-align: left;
}

.box {
  text-align: left;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 2% 15%;
  width: 50;
  padding: 2% 2% 3px;
}

.like-toggle{
  background-color: rgb(255, 255, 255);
  color: rgb(144, 144, 144);
  outline:none;
  box-shadow:none;
  border: none;
  width: 22px;
  height: 30px;
  font-size: 1.2em;
  border-radius: 100px;
}

