.App {
  background-color: #c6c6c7;
  padding-bottom: 21%;
  }

.list-group {
  margin-right: 2%;
  margin-left: 2%;
}

.form-group {
  margin: 2% 2%;
}

.control-group {
  margin: 2% 2%;
}

#add-edit {
  margin: 2% 2%;
  padding: 2% 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
  
#login {
  text-align: center;
  margin: 2% 40%;
  padding: 2% 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#signUp {
  text-align: center;
  margin: 2% 40%;
  padding: 2% 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#home {
  margin-bottom: 1%;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

#postID {
  margin: 2% 2%;
  padding: 2% 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#about {
  margin-right: 2%;
  margin-left: 2%;
  padding: 2% 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
